.popup.show
	.popup__inner
		.message
			#close.close
				//.close__wrapper
				span X
				//span
			p Lorem ipsum dolor sit amet.
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum ipsa, facilis iste omnis quam totam labore quod distinctio saepe atque sequi iusto corporis deleniti at quaerat! Eius laboriosam nulla possimus?
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum ipsa, facilis iste omnis quam totam labore quod distinctio saepe atque sequi iusto corporis deleniti at quaerat! Eius laboriosam nulla possimus?
