svg(version='1.1', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 64 64', xmlns:xlink='http://www.w3.org/1999/xlink', enable-background='new 0 0 64 64',  width='30px', height='30px')
	g
		g
			path(d='m33.502,52.999c0.206,0.03 0,0 0,0zm26.995-25.305c0-15.301-12.818-27.694-27.994-27.694-15.176,0-29,10.698-29,26 5.152-0.816 5.738-0.994 7-1 0.312-12.982 10.906-21 26-21 6.333,0 20,3.587 20,24-0.449,6.857-3.941,19.941-23,20-5.694-0.375-9.756-1.312-11.614-2.193l11.614-5.807-4-6-17,14 15,16 2-1-7.832-12.529c2.217,0.75 5.576,2.279 11.831,2.528 15.127-0.02 26.938-10.038 26.938-25.279 0-0.007-0.002-0.017-0.002-0.026h0.059zm-26.588,20.353c0.011,0.001 0.012,0.001 0,0z')
