main.main
	.container
		section.main__inner
			.main__title
				p Разложи эмблемы и символы разных мест твоего города по 3-м корзинам:
				ul
					li
						include ../modules/svg-marker.pug
						| в белую положи символы мест, в которых тебе могут оказать помощь
					li
						include ../modules/svg-marker.pug
						| в чёрную положи символы мест, в которых тебя может подстерегать опасность
					li
						include ../modules/svg-marker.pug
						| в серую положи символы мест, в которых результат непредсказуем
			.object
				#img.object__wrapper
				#count.count
				#result.result.hide
					.result__success
					.result__error
			.variables
				.variables__wrapper
					#1.variables__item
						.variables__inner
							ul.variables__select
						//h4 Белые силы
						//p +


					#2.variables__item
						.variables__inner
							ul.variables__select
						//h4 Непредсказуемые силы
						//p ?

					#3.variables__item
						.variables__inner
							ul.variables__select
						//h4 Тёмные силы
						//p -

