main.main
	.container
		section.main__inner
			.main__title
				h2 Краткая инструкция
			.object
				#img.object__wrapper
				#count.count
			.variables
				.variables__wrapper
					#1.variables__item
						h4 вариант 1
						ul.variables__select
					#2.variables__item
						h4 вариант 2
						ul.variables__select
					#3.variables__item
						h4 вариант 3
						ul.variables__select
