main.main
	.container
		section.main__inner
			.main__title
				h2 Краткая инструкция
			.object
				#img.object__wrapper
					//динамическая картинка
			.variables
				.variables__wrapper
					.variables__item
						h3 вариант 1
						ul.variables__select
					.variables__item
						h3 вариант 2
						ul.variables__select
					.variables__item
						h3 вариант 3
						ul.variables__select
