.main
	&__title
		text-align center

.object
	position relative
	border 1px solid red

	&__wrapper
		margin 0 auto
		border 1px solid //временно
		width 250px //временно
		height 250px //временно
		max-width: 250px
		max-height: 250px
		text-align center
		overflow hidden


		img
			max-width: 100%
			object-fit: cover
			cursor move

		h3
			text-align: left
			padding-left: 15px
			user-select: none
	.count
		position: absolute
		top: 0
		right: 10px;
		font-size: 1.6rem
		user-select: none

.variables
	border 1px solid blue
	padding 50px 0

	&__wrapper
		display flex
		justify-content space-between
		align-items flex-start


	&__item
		border 1px solid green
		flex-basis: calc(100%/3 - 30px)
		text-align center
		transition: all .3s ease

		*
			pointer-events: none
			user-select: none

		img
			max-height: 85px
			margin 10px
			border 2px solid transparent

		&.selected
			box-shadow: 1px 2px 20px rgba(0,0,0,.2)

	&__select
		pointer-events none
		li
			display inline



@media screen and (max-width: 768px)
	.variables__wrapper
		align-items flex-start

	.variables__item
		flex-basis: calc(100%/3 - 10px)
		margin-bottom 50px

		img
			max-height: 65px
			margin 0 0 2px

	.variables__select
		display flex
		flex-direction: column

	.object .count
		font-size 1.2rem
		right 5px

	.object__wrapper
		max-width: 200px
		max-height: 200px

@media screen and (max-width: 480px)
	.object .count
		font-size 1rem
		right 3px
	.variables__item
		margin-bottom 30px
		img
			max-height 35px
			/* margin 5px */

