@import "css/mixins.styl"
@import "css/global.styl"
@import "css/header.styl"
@import "css/main.styl"
@import "css/footer.styl"


html, body
	margin: 0
	padding: 0
	box-sizing: border-box

body
	background-color:lightblue
	font-size: 10px;
ul
	padding-left: 0

li
	list-style:none
